html{
    margin:0;
}
body {
    font-family:'Franklin Gothic Medium', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(img/2.webp);
    margin: 0;
    overflow: hidden; 

}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}

#preloader-img {
    width: 100px;
    height: 100px;
    animation: rotation 5s linear infinite; 
}



#game-container {
    width: 700px;
    height: 700px;
    background-color: #b08be5; 
    border: 2px solid #8868b0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    transition: opacity 0.3s ease;
}


#click-area {
    width: 190px;
    height: 160px;
    background-color: #c6a9f0;  
    border: 1px solid #7964c5;
    border-radius: 148px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium',  sans-serif;

}

#score {
    font-size: 24px;
}

.upgrade-button {
    background-color:  #c6a9f0; 
    border: 3px solid #7964c5;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    margin-bottom: 90px;
}